@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');

.footer-design {
    background-color: #f4f4f4;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer {
    margin-top: 102px;
}

.logonames {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}

.number-follow p {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #323232;
}

.number-follow h6 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    padding-left: 7px;
    margin-bottom: 17px;
    padding-top: 10px;
}

.number-follow h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    padding-bottom: 13px;
    max-width: 363px;
    text-align: left;
}

.phone {
    width: 16px;
    height: 16px;
}

.social-icons {
    width: 30px;
    margin-right: 10px;
}

.footer-hopmain {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 45px;
}

.footerlinks a {
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: #666666 !important;
    cursor: pointer;
}

.footerlinks {
    display: flex;
    gap: 25px;
}

.footerlinks a:hover {
    color: #CA2325 !important;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;

    p {
        color: #323232;
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
}

@media screen and (min-width:601px) {
.responsive-footer{
    display: none;
}
}
@media screen and (max-width:600px) {
    .logonames img {
        width: 130px;
    }

    .footer-hopmain {
        display: none;
    }

    .copyright {
        display: none;
    }

    .hop-footer-logo {
        display: none;
    }

    .number-follow {
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 20px;
        padding-top: 20px;
        h3{
            font-size: 12px;
        }
        p{
            font-size: 14px;
        }
        h6{
            font-size: 14px;
        }
    }

    .footerlinks {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #dfdfdf;
        gap: unset;
        justify-content: space-around;
        a{
            font-size: 12px;
        }
    }
    .resp-copyright{
        color: #323232;
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        font-size: 10px;
        padding-top: 15px;
        text-align: center;
    }
    .footer-design{
        padding-bottom: 10px;
    }
}
.footer-about{
    margin-top: 0px!important;
}